* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

fieldset {
    border-radius: 5px;
    border: var(--primary-color) 1px solid;
    padding: 20px;
}

input {
    all: unset;
}

html {
    /*variáveis*/
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #413F42; 
}

body.darkGray {
    --bg-color: #000000;
    --text-color: #ffffff;
    --primary-color: #413F42;
}

body.lightGray {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #413F42;     
}

body.darkBlue {
    --bg-color: #000000;
    --text-color: #ffffff;
    --primary-color: #040070;
}

body.lightBlue {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #040070;     
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 300px;
    text-align: center;
    margin: 60px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    filter: brightness(90%);
    border: var(--primary-color) solid 4px;
    transition: filter 400ms;
}
img.avatar:hover {
    filter: brightness(100%)
}

.name {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.userName {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
}

ul {
    list-style: none;
}

.listLink {
    margin: 48px 0;
}

.indexIcons {
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    font-size: 35px;
    margin-bottom: 16px;
    border-radius: 6px;
}

.fa-github {
    transition: color 400ms;
}
.fa-github:hover {
    color: #969696;
    color-interpolation-filters: linearRGB;
}
.fa-instagram {
    transition: color 400ms;
}
.fa-instagram:hover {
    color:#c32aa3;
}
.fa-facebook {
    transition: color 400ms;
}
.fa-facebook:hover {
    color: #1877f2;
}

.indexHeader {
    margin-bottom: 30px;
}

header fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.labelColor input[type=radio] + span{
    border-radius: 50%;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.labelColor input[type=radio]:checked + span{
    padding: 4px 14px 4px 14px;
    border: var(--text-color) 3px solid;
}

#lightGray {
    background-image: linear-gradient(80deg, #413F42, #ffffff, #413F42);    
}

#darkGray {
    background-image: linear-gradient(80deg, #413F42, #000000, #413F42);
}

#darkBlue {
    background-image: linear-gradient(80deg, #040070, #000000, #040070);
}

#lightBlue {
    background-image: linear-gradient(80deg, #040070, #ffffff, #040070);
}

